aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
bcrypt
blinker
blis
cachetools
careerjet_api_client
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
cryptography
cymem
dataclasses-json
dnspython
duckduckgo_search
ecdsa
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastapi
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httptools
httpx
httpx-sse
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-text-splitters
langcodes
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
language_data
lxml
mangum
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
msgpack
multidict
murmurhash
mypy-extensions
narwhals
networkx
numpy
orjson
packaging
pandas
passlib
pillow
preshed
primp
propcache
protobuf
pyarrow
pyasn1
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pymongo
pyparsing
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
safetensors
shellingham
six
smart-open
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
sympy
tenacity
thinc
toml
tornado
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
wasabi
watchdog
watchfiles
weasel
websockets
wrapt
yarl
zstandard
